/************************************************
Plain Theme
    This theme has a very plain background and
    no additional ui elements.
*************************************************/

/* fonts and background colors */
body { font-size: 12px; }
body, .toolbar-section, div#toolbar-left, .carousel-nav { background-color: #BBBBBB; background-image: inherit; }
div#left-dock { background-image: none; } /* removes the curve */

/* height of buttons and icons */
#toolbar-search { height: 22px; margin-top: 1px; }
#toolbar-search-left { height: 20px; }
#toolbar-search-right { height: 22px; }
.search-button { height: 20px; }
.search-button-center { padding: 3px 0; }

div.aloogle-toolbar-item { border: none; margin: 0 2px; }
div.aloogle-toolbar-item.html-button { height: 24px; margin-top: 1px; }