/************************************************
Search Box
    Styles are applied to the search box included in every toolbar.
    
    Themes can override the default properies of the searchbox
    found below.

*************************************************/
#toolbar-search {
    position: relative;
    float: left;
    height: 26px; /* assumes no border, margin, or padding */
    width: auto; /* this will allow the width to adjust depending on the translation of "search" */
    margin-right: 7px;
    padding-left: 270px; /* the input is absolutely positioned over this */
    line-height: 26px; /* should match the height */
    background: #ffffff;
}
#toolbar-search-left {
    position: absolute;
	top: 0;
	left: 0;
    height: 24px;
    width: 270px; /* size of the search input field (includes padding) */
    line-height: 24px;
}
#toolbar-search-input {
    /* themes should not change this except for testing purposes */
    height: inherit;
    width: 260px;
    padding: 0px 5px;
    
    /* reset browsers default input styling */
    margin: 0;
    border: 0;
    background: transparent;
    outline: none;
    font: 14px Arial, Sans-serif, sans;
    line-height: inherit;
}

#toolbar-search-right {
}

.search-button {
    position: relative;
    padding: 0 14px;
    height: inherit;
    cursor: pointer;
}
.search-button-center {
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: -1px 0px 0px #777;
}
.search-button-cobrand {
    display: none;
    position: absolute;
    top: 0;
    right: 7px;
    height: inherit;
}
.cobranded .search-button-cobrand {
    height: inherit;
    display: block;
}
.lt-ie8 .search-button-cobrand {
	top: -4px;
	height: 22px;
}

/************************************************
DEFAULT THEME

    - Adds a 1px blue (#2266AA) border around the entire search box
    - Adds a 1px blue (#2266AA) border around the search input
*************************************************/
.default-theme#toolbar-search {
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
    height: 24px;
    padding-left: 272px; /* added 2px for inner border */
    line-height: 24px;
	border: 1px solid #000000;
	background: #ffffff;
}
.default-theme#toolbar-search:hover {
	border: #000000 solid 1px; 
}
.default-theme#toolbar-search:focus {
	background: #e4e4e4;
	border: #000000 solid 2px;
	outline: none;
}
.default-theme #toolbar-search-left {
    height: 22px;
    border: 1px solid #000000;
    line-height: 22px;
}
.default-theme #toolbar-search-right {
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
    height: 24px;
	color: #000000;
	background:url('../../../../imagens/buscawp72.png') no-repeat center #00ffff;
	background-size: 20px;
}
.default-theme .search-button-center {
    font-size: 13px;
}