/************************************************
V5 Parity Theme
    This theme seeks to emulate the look of the
    Vanilla toolbar on the v5 platform.
*************************************************/

/* fonts and background colors */
body { font-size: 12px; }
body, .toolbar-section, div#toolbar-left, .carousel-nav { background-color: #EFEDE0; background-image: inherit; }
div#left-dock { background-image: none; } /* removes the curve */

/* height of buttons and icons */
#toolbar-search { height: 22px; margin-top: 1px; }
#toolbar-search-left { height: 20px; }
#toolbar-search-right { height: 22px; }
.search-button { height: 20px; }
.search-button-center { padding: 3px 0; }

div.button-icon>img { height: 16px; margin: 2px 0; }

#com\.aloogle\.weather-button .button-icon>img,
#com\.aloogle\.youtube-popup-button .button-icon>img,
#com\.aloogle\.ask-homepage-navigation-button .button-icon>img {
    height: 20px; margin: 0;
}

